@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  font-size: 62.5%; /*10px = 1rem*/
}

@font-face {
  font-family: "Whatever it Takes";
  src: url("./src/fonts/whatever\ it\ takes\ bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Whatever it Takes", sans-serif;
  list-style-type: none;

  overflow: hidden;
}

body {
  background-image: url("./src/imgs/empty-blackboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: #a6a171; */
  min-height: 100vh;
}

section {
  max-width: 100%;
  width: 70rem;
  height: 75rem;

  margin: 5rem auto;
  padding: 5rem;

  border-radius: 0.7rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fdee1f; */
  background-color: #a79f34;
}

.titulo h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  line-height: 3rem;

  margin-bottom: 4rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input[type="text"] {
  border: none;
  border-radius: 2rem;
  padding-block: 1rem;
  padding-inline: 1rem 20rem;
  font-size: 2rem;
}

::placeholder {
  text-align: left;
  color: black;
  font-size: 2.5rem;
  border: none;
}

button {
  padding: 1.1rem 1.1rem;

  border: none;
  border-radius: 0.3rem;
  background: #0299ff;
  color: white;
}

section ul {
  overflow-y: auto;
  width: 100%;
  height: 75rem;
  margin-block: 2rem;
}

ul::-webkit-scrollbar {
  width: 1em;
}

ul::-webkit-scrollbar {
  width: 1em;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.btn,
.new-list {
  cursor: pointer;
}

.btn-remove {
  background: red;
  cursor: pointer;
}

.btn-edita {
  background: rgb(233, 211, 16);
  cursor: pointer;
}

li {
  text-align: center;
  margin-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  width: 60rem;
  overflow-x: auto;
}

li p {
  word-break: break-all;
  width: 35rem;
  font-size: 2.5rem;
}

ol {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-block: 1.5rem;
  text-transform: uppercase;
}

.checkbox-round {
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: darkgrey;
  border-radius: 10%;
  vertical-align: middle;
  border: 0.2rem solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.checkbox-round::before {
  content: "";
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  left: 0;
  background-color: darkgrey;
}

.checkbox-round:checked:after {
  content: "";
  display: absolute;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: absolute;
  top: 15%;
  left: 30%;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked:before {
  background-color: #2196f3;
}

input[type="checkbox"]:checked {
  text-decoration: line-through;
}

.disabled {
  pointer-events: none;
}

@media (max-width: 748px) {
  section {
    width: 55rem;
  }
  li {
    width: 45rem;
  }
}

@media (max-width: 516px) {
  section {
    width: 35rem;
  }

  li {
    width: 100%;
    width: 25rem;
  }

  button {
    padding: 1.1rem;
  }

  .btn-edita,
  .btn-remove {
    width: 5rem;
    height: 3.5rem;
  }

  input[type="checkbox"] {
    width: 9rem;
    height: 3.5rem;
  }

  li p {
    padding-left: 0;
  }

  input[type="text"] {
    padding-inline: 1rem 4rem;
  }
}
